<div>
    <h5>Realated Videos</h5>
    <div id="related-videos"></div>
</div>

<script>
    var category=document.getElementById("category").value;
    var videoId= document.getElementById("videoId1").value;
    var ajax=new XMLHttpRequest();
    ajax.open("GET","/get-related-videos/"+category+"/"+videoId,true);
    ajax.onreadystatechange=function(){
        if(this.readyState==4&&this.status==200){
            var videos=JSON.parse(this.responseText);
            var html="";
            for (let a = 0; a < videos.length; a++) {
                var flag=false;
                var createdAt=new Date(videos[a].createdAt);
                var date=createdAt.getDate()+"";
                date=date.padStart(2,"0")+" "+months[createdAt.getMonth()]+","+createdAt.getFullYear();
                html +='<div>';
                    html+='<img src="' + baseUrl+videos[a].thumbnail+'"/>';
                    html+='<p>'+videos[a].minutes+":"+videos[a].seconds+ '</p>';
                    html +='<h3><a href="/watch/'+videos[a].watch+'">'+videos[a].title+'</a></h3>';
                    html +='</div>';     
            }
            document.getElementById("related-videos").innerHTML=html;
        }
    };
    ajax.send();
</script>