<%- include("header") %>

    <body>
        <h2 style="
    text-align: center;
    margin-top: 89px;
    margin-bottom: 15px;
">Blogs</h2>
        <div class="grid-3-colls">
            <a href="./callofDuty">
                <div class="card-blog">
                    <div class="img1"><img src="./static/images.jpeg" alt=""></div>
                    <div class="title">Call of Duty stats</div>
                </div>
            </a>
            <a href="./leagues">
                <div class="card-blog">
                    <div class="img1"><img src="./static/images.jpeg" alt=""></div>
                    <div class="title">Different Leagues</div>
                </div>
            </a>

            <a href="./popularity">
                <div class="card-blog">
                    <div class="img1"><img src="./static/images.jpeg" alt=""></div>
                    <div class="title">Popularity of League of Legends</div>
                </div>
            </a>

            <a href="./price">
                <div class="card-blog">
                    <div class="img1"><img src="./static/images.jpeg" alt=""></div>
                    <div class="title">Price</div>
                </div>
            </a>
            
            <a href="./new">
                <div class="card-blog">
                    <div class="img1"><img src="./static/images.jpeg" alt=""></div>
                    <div class="title">Sellers And their Stores</div>
                </div>
            </a>

        </div>
    </body>

    </html>